* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --main-color: #ff9800;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

ul li {
    margin: 0 10px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: capitalize;
}

.setting-box {
    position: absolute;
    padding: 5px;
    top: 0;
    left: -200px;
    z-index: 10;
    background-color: #fff;
    min-height: 100vh;
    width: 200px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.setting-box.open {
    left: 0;
}

.setting-box .toggle-setting {
    position: absolute;
    right: -40px;
    top: 180px;
    padding: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #fff;
    /* border-radius: 50%; */
}

.setting-box .toggle-setting i.fa.fa-cog {
    color: #000;
}

.setting-box .setting-container {}

.container {
    width: 85%;
    min-height: 100vh;
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    /* z-index: 2; */
}

.btn {
    width: fit-content;
    border-radius: 24px;
    border: 2px solid #fdb100;
    background-color: #fdb100;
    color: white;
    padding: 8px 20px;
    font-size: 20px;
}