.setting-box {
    color: white;
    position: fixed;
    padding: 5px;
    top: 0;
    left: -200px;
    z-index: 10;
    /* background-color: #fff; */
    min-height: 100vh;
    width: 200px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.setting-box.open {
    left: 0;
}

.setting-box .toggle-setting {
    position: absolute;
    right: -55px;
    top: 170px;
    padding: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #fff;
    /* border-radius: 50%; */
}

.setting-box .toggle-setting i.fa.fa-cog {
    color: #000;
}

.setting-box .setting-container {
    padding: 5px 0;
}

.setting-box .setting-container .option-box {
    text-align: center;
}

.setting-box .setting-container .option-box>div {
    /* background-color: rgb(34, 36, 38); */
    /* background-color: rgb(0 150 136 / 24%); */
    /* background-color: rgb(34 36 20 /1); */
    background-color: rgb(140, 130, 115);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.setting-box .setting-container .option-box .colors {
    padding: 5px 0;
}

.setting-box .setting-container .option-box .colors h4 {
    color: white;
    font-size: 18px;
    position: relative;
}

.setting-box .setting-container .option-box .colors h4 span.setValueButton {
    border: 4px solid;
    border-radius: 50%;
    position: absolute;
    padding: 6px;
    background-color: var(--main-color);
    margin-left: 5px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.setting-box .setting-container .option-box .colors h4 span.setValueButton::after {
    content: "";
    width: 30%;
    height: 30%;
    border: 2px solid black;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    transform: rotate(45deg);
    top: 0;
    left: 2px;
}

.setting-box .setting-container .option-box .colors h4 span input[type="number"] {
    background: var(--main-color);
    color: white;
    font-weight: bold;
    border-radius: 2px;
    text-align: center;
    border: none;
}

.setting-box .setting-container .option-box .colors .colors-list {
    padding: 10px 15px;
    gap: 14px;
    flex-wrap: wrap;
    overflow: hidden;
    height: fit-content;
    transition: 0.7s linear;
    -webkit-transition: 0.7s linear;
    -moz-transition: 0.7s linear;
    -ms-transition: 0.7s linear;
    -o-transition: 0.7s linear;
}

.setting-box .setting-container .option-box .colors .colors-list:hover {
    overflow: visible;
    height: fit-content;
}

.setting-box .setting-container .option-box .colors .colors-list li {
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.setting-box .setting-container .option-box .colors .colors-list li.active {
    opacity: 1;
    border: 3px solid white;
}

.setting-box .setting-container .option-box .random-background {
    padding: 5px 0 10px;
    margin: 10px 0;
}

.setting-box .setting-container .option-box .random-background h4 {
    padding: 10px 0;
    color: white;
}

.setting-box .setting-container .option-box .random-background ul.random-list {
    justify-content: center;
    gap: 5px;
}

.setting-box .setting-container .option-box .random-background ul.random-list li {
    /* background-color: rgb(202, 142, 0); */
    background-color: var(--main-color);
    padding: 4px 25px;
    font-size: 12px;
    margin: 0;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.setting-box .setting-container .option-box .random-background ul.random-list li.active {
    opacity: 1;
}

.landing-page {
    color: white;
    min-height: 100vh;
    background-image: url("./../imgs/02.jpg");
    background-size: cover;
    position: relative;
    /* background-repeat: no-repeat; */
    position: relative;
}

.landing-page .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.landing-page .container .header-area {
    font-weight: bold;
    display: flex;
    padding-top: var(--sections-main-padding);
    padding-bottom: var(--sections-main-padding);
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    color: #fff;
}

.landing-page .container .header-area .logo {
    width: 300px;
    padding: 5px;
    text-transform: uppercase;
}

.landing-page .container .header-area .links {
    width: 40%;
}

.landing-page .container .header-area .links li {
    display: inline-block;
}

.landing-page .container .header-area .links li a {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.landing-page .container .header-area .sign-up.login-btn {
    width: 150px;
}

.landing-page .container .header-area li a:hover,
.landing-page .container .header-area li a.active {
    color: var(--main-color)
}

.landing-page .container .intro-text {
    position: absolute;
    top: 300px;
    left: 50%;
    z-index: 2;
    text-align: center;
    text-transform: capitalize;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.landing-page .container .intro-text h1 {
    font-size: 35px;
    margin: 0 0 12px;
}

.landing-page .container .intro-text h1 span {
    color: var(--main-color);
}

.landing-page .container .intro-text p {
    font-size: 17px;
    line-height: 1.6;
}

.about-us {
    display: flex;
    padding-top: var(--sections-main-padding);
    padding-bottom: var(--sections-main-padding);
}

.about-us .info-box {
    flex: 1;
    padding: 15px 0;
}

.about-us .info-box h2 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.about-us .info-box p {
    color: #9b9393;
    margin: 35px 0 0;
    line-height: 1.8;
}

.about-us .img-box {
    flex: 1;
    text-align: center;
}

.about-us .img-box img {
    width: 250px;
}

.skills {
    background-color: #eee;
    padding-top: var(--sections-main-padding);
    padding-bottom: var(--sections-main-padding);
}

.skills h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 50px;
}

.skills .container .skill-box {
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.skills .container .skill-box .skill {
    width: 150px;
    text-align: center;
}

.skills .container .skill-box .percentage {
    background-color: #eeeeee6b;
    width: 100%;
    height: 30px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.skills .container .skill-box .percentage span {
    position: absolute;
    background-color: var(--main-color);
    height: 100%;
    width: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}