.setting-box {
    position: absolute;
    padding: 5px;
    top: 0;
    left: -200px;
    z-index: 10;
    background-color: #fff;
    min-height: 100vh;
    width: 200px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.setting-box.open {
    left: 0;
}

.setting-box .toggle-setting {
    position: absolute;
    right: -55px;
    top: 15px;
    padding: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #fff;
    /* border-radius: 50%; */
}

.setting-box .toggle-setting i.fa.fa-cog {
    color: #000;
}

.setting-box .setting-container {
    padding: 5px 0;
}

.setting-box .setting-container .option-box {
    text-align: center;
}

.setting-box .setting-container .option-box .colors {
    background-color: rgb(34, 36, 38);
    padding: 5px 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.setting-box .setting-container .option-box .colors h4 {
    color: black;
    font-size: 18px;
}

.setting-box .setting-container .option-box .colors .colors-list {
    padding: 10px 15px;
    gap: 14px;
    flex-wrap: wrap;
    overflow: hidden;
    height: fit-content;
    transition: 0.7s linear;
    -webkit-transition: 0.7s linear;
    -moz-transition: 0.7s linear;
    -ms-transition: 0.7s linear;
    -o-transition: 0.7s linear;
}

.setting-box .setting-container .option-box .colors .colors-list:hover {
    overflow: visible;
    height: fit-content;
}

.setting-box .setting-container .option-box .colors .colors-list li {
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.setting-box .setting-container .option-box .colors .colors-list li.active {
    opacity: 1;
    border: 3px solid black;
}

.setting-box .setting-container .option-box .random-background {
    background-color: rgb(34, 36, 38);
    border-radius: 4px;
    margin: 10px 0;
    padding: 5px 0 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.setting-box .setting-container .option-box .random-background h4 {
    padding: 10px 0;
    color: black;
    font-size: 18px;
}

.setting-box .setting-container .option-box .random-background ul.random-list {
    justify-content: center;
    gap: 5px;
}

.setting-box .setting-container .option-box .random-background ul.random-list li {
    /* background-color: rgb(202, 142, 0); */
    background-color: var(--main-color);
    padding: 8px 20px;
    margin: 0;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.setting-box .setting-container .option-box .random-background ul.random-list li.active {
    opacity: 1;
}

.landing-page {
    min-height: 100vh;
    background-image: url("./../imgs/1920x1080/02.jpg");
    background-size: cover;
    position: relative;
}

.landing-page .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.landing-page .container .header-area {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    color: #fff;
}

.landing-page .container .header-area .logo {
    width: 300px;
    padding: 5px;
    text-transform: uppercase;
}

.landing-page .container .header-area .links {
    width: 40%;
}

.landing-page .container .header-area .links li {
    display: inline-block;
}

.landing-page .container .header-area .links li a {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.landing-page .container .header-area .sign-up.login-btn {
    width: 150px;
}

.landing-page .container .header-area li a:hover,
.landing-page .container .header-area li a.active {
    color: var(--main-color)
}

.landing-page .container .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    text-align: center;
    text-transform: capitalize;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.landing-page .container .intro-text h1 {
    font-size: 35px;
    margin: 0 0 12px;
}

.landing-page .container .intro-text h1 span {
    color: var(--main-color);
}

.landing-page .container .intro-text p {
    font-size: 17px;
    line-height: 1.6;
}